# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore VS Code settings
.vscode/
.DS_Store

# Ignore saved files folder
save_files/

# ignore build/distribution folders
build/
dist/
